html {box-sizing:border-box} 
*, *::before, *::after {box-sizing:inherit}


body{
background: grey;
}

#wrapper {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /*background-image: url("images/bg.jpg");*/
}

ul{ 
  list-style: none;
  padding: 0;
}

.subs {
  
  border: solid purple;

}
  
  nav {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  align-items: flex-end;
  
}

header div nav a {
  color: yellow;
  border: solid black;
  
}

.social {
  display:flex;
  flex-direction: row;
  text-decoration:none;
  color: pink;
  border: solid black;

}

.topmenu {
  display:flex;
  flex-direction: row;
  justify-content: stretch;
  text-decoration:none;
  font-family:'Raleway', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color:white;
  text-transform: uppercase;
  
}

.menuchoice {
  background: rgb(171, 36, 41);
  border-bottom: 3px solid rgba(139, 141, 140, 0.728);
  padding: 10px 20px;
  color:white;
}

.menuchoice a::before {
  content: content " - ";
}

.menuchoice a::after {
  content: content " - ";
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border: solid grey;
  width: 500px;
  margin: 20px;
}

.indivbox {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  background: white;
  font-family: 'Lato', sans-serif;
  width: 170px;
  padding-right: 5px;
  padding-left: 5px;
}

h2 {
  color: black;
  font-size: 12px;
}

h3 {
  color: grey;
  font-size: 10px;
}

p {
  font-size: 8px;
}

section a {
  font-size: 9px;
  text-transform: uppercase;
  color: red;
  padding-bottom: 10px;
  text-decoration: none;
  margin: auto;
  /* NEED TO ALIGN THE READ MORE ELEMENTS */
}

.stackedpic {
  display: flex;
  justify-content: center;
  border: solid white;
  width: 500px;
  height: 170px;
  margin: auto;
  background-image: url("images/top-image.png");
  position: relative;
  background-size:cover;
  background-position: 25% -135%;
  background-size: 140%;
}

#logo {
  position: absolute;
  width: 220px;
  top: 10%;
  bottom: 50%;
  left: 1%;
}
